////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "buscar_BN.ico"
102  ICON  MOVEABLE PURE   "vore_tots_BN.ico"
103  ICON  MOVEABLE PURE   "nou_BN.ico"
104  ICON  MOVEABLE PURE   "editar_BN.ico"
105  ICON  MOVEABLE PURE   "eliminar_BN.ico"
106  ICON  MOVEABLE PURE   "primer_BN.ico"
107  ICON  MOVEABLE PURE   "anterior_BN.ico"
108  ICON  MOVEABLE PURE   "següent_BN.ico"
109  ICON  MOVEABLE PURE   "últim_BN.ico"
110  ICON  MOVEABLE PURE   "imprimir_BN.ico"
111  ICON  MOVEABLE PURE   "eixir_BN.ico"
112  ICON  MOVEABLE PURE   "help2_BN.ico"
113  ICON  MOVEABLE PURE   "conters_BN.ico"
114  ICON  MOVEABLE PURE   "mail_BN.ico"
115  ICON  MOVEABLE PURE   "opcions_BN.ico"
116  ICON  MOVEABLE PURE   "document_into_BN.ico"
117  ICON  MOVEABLE PURE   "application_new_BN.ico"
118  ICON  MOVEABLE PURE   "environment_add_BN.ico"
119  ICON  MOVEABLE PURE   "up_plus_BN.ico"
120  ICON  MOVEABLE PURE   "delete_BN.ico"
121  ICON  MOVEABLE PURE   "find_selection_BN.ico"
122  ICON  MOVEABLE PURE   "disk_blue_BN.ico"
123  ICON  MOVEABLE PURE   "document_certificate_BN.ico"
124  ICON  MOVEABLE PURE   "forklifter_BN.ico"
125  ICON  MOVEABLE PURE   "form_green_BN.ico"
126  ICON  MOVEABLE PURE   "contract_BN.ico"
127  ICON  MOVEABLE PURE   "folder_ok_BN.ico"
128  ICON  MOVEABLE PURE   "error_BN.ico"
129  ICON  MOVEABLE PURE   "earth_new_BN.ico"
130  ICON  MOVEABLE PURE   "earth_location_BN.ico"
131  ICON  MOVEABLE PURE   "calculator_BN.ico"
132  ICON  MOVEABLE PURE   "replace2_BN.ico"
133  ICON  MOVEABLE PURE   "undo_BN.ico"
134  ICON  MOVEABLE PURE   "data_down_BN.ico"
135  ICON  MOVEABLE PURE   "data_replace_BN.ico"
136  ICON  MOVEABLE PURE   "camera2_BN.ico"