////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "eixir.ico"
102  ICON  MOVEABLE PURE   "users_family.ico"
103  ICON  MOVEABLE PURE   "data_down.ico"
104  ICON  MOVEABLE PURE   "document_into.ico"
105  ICON  MOVEABLE PURE   "index_view.ico"
106  ICON  MOVEABLE PURE   "pawn_view.ico"
107  ICON  MOVEABLE PURE   "truck_red.ico"
108  ICON  MOVEABLE PURE   "cashier.ico"
109  ICON  MOVEABLE PURE   "conters.ico"
110  ICON  MOVEABLE PURE   "folder_document.ico"
111  ICON  MOVEABLE PURE   "tractor_red.ico"
112  ICON  MOVEABLE PURE   "cookies.ico"
113  ICON  MOVEABLE PURE   "box.ico"
114  ICON  MOVEABLE PURE   "document_preferences.ico"
115  ICON  MOVEABLE PURE   "document_out.ico"
116  ICON  MOVEABLE PURE   "document_chart.ico"
117  ICON  MOVEABLE PURE   "document_ok.ico"
118  ICON  MOVEABLE PURE   "businessmen.ico"
119  ICON  MOVEABLE PURE   "cubes_yellow.ico"
120  ICON  MOVEABLE PURE   "column-chart.ico"
121  ICON  MOVEABLE PURE   "line-chart.ico"
122  ICON  MOVEABLE PURE   "form_red.ico"
123  ICON  MOVEABLE PURE   "form_green.ico"
124  ICON  MOVEABLE PURE   "contract.ico"
125  ICON  MOVEABLE PURE   "folder_ok.ico"
126  ICON  MOVEABLE PURE   "document_add.ico"
127  ICON  MOVEABLE PURE   "document_delete.ico"
128  ICON  MOVEABLE PURE   "truck_blue.ico"
129  ICON  MOVEABLE PURE   "tractor_green.ico"
130  ICON  MOVEABLE PURE   "flower_white.ico"
131  ICON  MOVEABLE PURE   "flower_yellow.ico"
132  ICON  MOVEABLE PURE   "dude4.ico"
133  ICON  MOVEABLE PURE   "dude5.ico"
134  ICON  MOVEABLE PURE   "factory.ico"
135  ICON  MOVEABLE PURE   "inbox_into.ico"
136  ICON  MOVEABLE PURE   "undo.ico"
137  ICON  MOVEABLE PURE   "refresh.ico"
138  ICON  MOVEABLE PURE   "imprimir.ico"